<!-- IF S_SCEDITOR -->
<!-- INCLUDEJS @cosmo_sceditor/js/jquery.sceditor.bbcode.min.js -->
<!-- IF L_SCEDITOR_LANG --><!-- INCLUDEJS @cosmo_sceditor/js/languages/{L_SCEDITOR_LANG}.js --><!-- ENDIF -->
<script type="text/javascript">
	var sceController = (function ($, undefined) {
		var _sourceButton, _sourceButtonAvailable,
				_textarea,
		<!-- IF S_SMILIES_ALLOWED -->
				_smiliesCheckbox,
		<!-- ENDIF -->
		<!-- IF S_BBCODE_ALLOWED -->
				_sourceCheckbox,
				_currentSourceMode,
		<!-- ENDIF -->
				_sceInstance,
				_max_fontsize = {MAX_FONTSIZE},
				_lastStyleSheet = { },
				_styleSheets,
				_cssString,
				_cssBase,
				_docroot,
				_fullDocroot,
				_tmp,
				_internalMethods = {
					'sourceMode': function (_active) {
						// Are we on a page where SCEditor is loaded and used?
						if ('undefined' === typeof _sceInstance || 'undefined' === typeof _sceInstance.sourceMode) {
							return null;
						}
						if (typeof _active === 'undefined') {
							return _sceInstance.sourceMode();
						}
						_active = !!_active;
						_sceInstance.sourceMode(_active);
					},
					'sourceButton': {
						'init': function () {
							_sourceButton = $('a.sceditor-button-source');
							_sourceButtonAvailable = !!_sourceButton.length;
							_sourceCheckbox = $('#disable_bbcode');
						},
						'hide': function () {
							if (_sourceButtonAvailable) {
								_sourceButton.hide();
							}
						},
						'setOnClick': function () {
							_sourceCheckbox.on('click', function () {
								if (_sourceCheckbox.is(':checked')) {
									// We need this to know if we have to go back to WYSIWYG or not
									_currentSourceMode = _internalMethods.sourceMode();
									_internalMethods.sourceMode(true);
									if (_sourceButtonAvailable) {
										_sourceButton.hide();
									}
								}
								else {
									// Only back to WYSIWYG if it was active before
									if (!_currentSourceMode) {
										_internalMethods.sourceMode(false);
									}
									if (_sourceButtonAvailable) {
										_sourceButton.show();
									}
								}
							});
						}
					},
					'getDocroot': function () {
						if ('undefined' !== typeof _docroot) {
							return _docroot;
						}
						else if ('/' === location.pathname.substr(-1)) {
							_docroot = location.pathname;
						}
						else {
							_tmp = location.pathname.lastIndexOf('/') + 1;
							_docroot = location.pathname.substr(0, _tmp);
						}
						_fullDocroot = location.protocol + '//' + ('' === location.username ? '' : (location.username + ('' === location.password ? '' : (':' + location.password)) + '@')) + location.hostname + ('' === location.port ? '' : ':' + location.port) + _docroot;
						return _docroot;
					},
					'emoticons': {
						'init': function () {
							_smiliesCheckbox = $('#disable_smilies');
						},
						'setOnClick': function () {
							_smiliesCheckbox.on('click', function () {
								if (_smiliesCheckbox.is(':checked')) {
									_sceInstance.emoticons(false);
								}
								else {
									_sceInstance.emoticons(true);
								}
							});
						}
					},
					'css': {
						'getBase': function (_cssStyleSheet) {
							// Is this really a CSSStyleSheet object?
							if (!(_cssStyleSheet instanceof CSSStyleSheet)) {
								return false;
							}
							// Did we parse this StyleSheet already?
							if (_cssStyleSheet === _lastStyleSheet && !('undefined' === typeof _cssBase)) {
								return _cssBase;
							}

							// Stylesheet directly on the page?
							if ((null === typeof _cssStyleSheet.href) || (null === _cssStyleSheet.href)) {
								_tmp = location.href.match(/[^?]+\//);
							}
							else {
								_tmp = _cssStyleSheet.href.match(/[^?]+\//);
							}

							_cssBase = _tmp[0];
							_lastStyleSheet = _cssStyleSheet;
							return _cssBase;
						},
						'realpath': function (_path) {
							/**
							 *  I dont use
							 *  if (-1 !== $.inArray(0, [path.indexOf('/'), path.indexOf('http://'), path.indexOf('https://'), path.length])) {
						 *  because all indexOf and the length have to be calculated before the check starts.
						 *  The "normal" version is faster.
						 */
							// Do we really have to do something?
							if (0 === _path.length) {
								// No path info.. nothing to do
								return _path;
							}
							else if (0 === _path.indexOf('http://') || 0 === _path.indexOf('https://')) {
								// Check if the path starts with Docroot and if yes cut it out
								_internalMethods.getDocroot();
								if (0 === _path.indexOf(_fullDocroot)) {
									_path = _path.substr(_fullDocroot.length);
								}
							}

							// Lets do it
							_tmp = _path.split('/');
							_path = [];
							for (var _i in _tmp) {
								if (_tmp.hasOwnProperty(_i) && '.' !== _tmp[_i] && '' !== _tmp[_i]) {
									if ('..' === _tmp[_i]) {
										_path.pop();
									}
									else {
										_path.push(_tmp[_i]);
									}
								}
							}
							_path = _path.join('/');
							return _path;
						},
						'getWindowStyles': function () {
							var _i, _j, _cssRules, _count, _countJ;
							_styleSheets = document.styleSheets;
							_cssString = '';
							_count = _styleSheets.length;

							for (_i = 0; _i < _count; _i++) {
								this.getBase(_styleSheets[_i]);
								try
								{
									// Don't parse external CSS
									if (_cssBase !== _fullDocroot) {
										continue;
									}
									if (_styleSheets[_i].cssRules) {
										_cssRules = _styleSheets[_i].cssRules;
										_countJ = _cssRules.length;
										for (_j = 0; _j < _countJ; _j++) {
											_cssString += this.fixUrlPathes(_cssRules[_j].cssText);
										}

									}
									else {
										_cssString += this.fixUrlPathes(_styleSheets[_i].cssText);  // IE8 and earlier
									}
								}
								catch (error)
								{
									console.log("CSS rule could not be applied!\n" + error.message);
								}
							}
						},
						'fixUrlPathes': function (_css) {
							var _url, _i;
							if (-1 === _css.indexOf('url')) {
								// no url in the CSS String, there is nothing to do
								return _css;
							}
							_tmp = _css.replace(/url\s*\(\s*["']?([^)]+?)["']?\s*\)/g, function (matching, group1) {
								return ('url("' + _internalMethods.css.realpath(_cssBase + group1) + '")');
							});
							return _tmp;
						}
					}
				};
		return {
			'getMaxFontsize': function () {
				return _max_fontsize;
			},
			'isMaxFontsizeSet': function () {
				return !!_max_fontsize;
			},
			'getTextarea': function () {
				if (typeof _textarea === 'undefined' || !_textarea.length) {
					_textarea = $('textarea[name="message"]');
				}
				return _textarea;
			},
			'init': function () {
				this.getTextarea();
				_internalMethods.css.getWindowStyles();
				// Replace all textarea's
				// with SCEditor
                initCustomBBCodes({SCEDITOR_CUSTOM_BBCODES_SCRIPTS});
                var maxWidth = $('#postingbox').css('width');
                var height = 400;
                if (maxWidth == undefined) {
                    maxWidth = parseInt($('#qr_postform').css('width')) - 30;
                    $('#qr_postform').on('submit', function() {
                        _internalMethods.sourceMode(true);
                    });
                    height = 150;
                } else {
                    maxWidth = parseInt(maxWidth) - 30;
                }
                _textarea.sceditor({
				    width: maxWidth,
                    height: height,
                    resizeMaxWidth: maxWidth,
					plugins: "bbcode",
                    toolbar: "bold,italic,underline,strike,subscript,superscript|left,center,right,justify|font,size,color,removeformat|cut,copy,paste,pastetext|bulletlist,orderedlist,indent,outdent|" +
                            "table|code,quote|horizontalrule,image,email,link,unlink|emoticon,youtube,date,time|ltr,rtl{SCEDITOR_CUSTOM_BBCODES_TOOLBAR}|source",
					toolbarExclude: "print,maximize",
					<!-- IF S_SMILIES_ALLOWED -->
					emoticonsRoot: "{U_EMOTICONS_ROOT}",
					emoticons: {
						dropdown: {
							<!-- BEGIN emoticons -->
							"{emoticons.code|escape('js')}": "{emoticons.url}"<!-- IF !emoticons.S_LAST_ROW -->, <!-- ENDIF -->
							<!-- END emoticons -->
						}
					},
					<!-- ELSE -->
					emoticonsEnabled: false,
					<!-- ENDIF -->
					style: '" /><style type="text/css">' + _cssString + '</style><link rel="stylesheet" type="text/css" href="{U_CSS}?assets_version={T_ASSETS_VERSION}'
				});

				// Fix the position of the editor layer
                $('#message').hide();
                $('#smiley-box').remove();
                var scEditorMain = $('.sceditor-container:eq(0)');
				scEditorMain.css('z-index', 1).attr('id', 'sceditor-main-div');
				scEditorMain.find('textarea').attr('id', 'message').attr('name', 'message').addClass('inputbox');
                var parser = new $.sceditor.BBCodeParser();
                $('#notification_list').css('z-index', 20);

				// Set used nodes (mostly checkboxes)
				_sceInstance = _textarea.sceditor('instance');

                if (height >= 400) {
                    _sceInstance.bind('keyup', function() {
                        if (_sceInstance.inSourceMode()) {
                            _sceInstance.updateOriginal();
                        } else {
                            _sceInstance.setSourceEditorValue(parser.toBBCode(_sceInstance.getWysiwygEditorValue()));
                            _sceInstance.updateOriginal();
                        }
                    });
                    $('input[name="preview"]').on('click', function() {
                        _sceInstance.sourceMode(true);
                    });
                    $('input[name="post"]').on('click', function() {
                        _sceInstance.sourceMode(true);
                    });
                }

				// Initialize the availability of the SCEditor source button
				_internalMethods.sourceButton.init();
				<!-- IF S_BBCODE_ALLOWED -->
				<!-- IF not S_BBCODE_CHECKED eq '' -->
				// BBCode is checked as disallowed, set SCEditor to sourceMode
				_internalMethods.sourceMode(true);
				<!-- ENDIF -->
				// Initialize the onclick event for the BBCode checkbox
				_internalMethods.sourceButton.setOnClick();
				<!-- ELSE -->
				/**
				 * BBCodes are completly disallowed
				 * Hide the sourceButton of SCEditor if visible
				 * and change to sourceMode
				 */
				//_internalMethods.sourceButton.hide();
				_internalMethods.sourceMode(true);
				<!-- ENDIF -->

				// Emoticons part
				<!-- IF S_SMILIES_ALLOWED -->
				_internalMethods.emoticons.init();
				<!-- IF not S_SMILIES_CHECKED eq '' -->
				_sceInstance.emoticons(false);
				<!-- ENDIF -->
				_internalMethods.emoticons.setOnClick();
				<!-- ENDIF -->
			},
			'destroy': function () {
				// Make sure that this is only called
				// when SCEditor is initialized
				if (_sceInstance instanceof Object && _sceInstance.hasOwnProperty('destroy')) {
					_sceInstance.destroy();
				}
			}
		}
	})(jQuery);

    function initCustomBBCodes(bbcodeInitializationData) {
        for (var bbcode in bbcodeInitializationData) {
            addBBCode(bbcodeInitializationData[bbcode])
        }
    }

    function addBBCode(data) {
        var command = data[0];
        var format = data[1];
        var counter = 0;
        while (format.match(/\{\D[^\}]*\}/) != null) {
            format = format.replace(/\{\D[^\}]*\}/, '{' + (counter++) + '}');
        }
        var insertion = format.replace(/\{[^\}]*\}/g, "");
        var tooltip = data[2];
        var template = data[3];
        counter = 0;
        while (template.match(/\{\D[^\}]*\}/) != null) {
            template = template.replace(/\{\D[^\}]*\}/, '{' + (counter++) + '}');
        }
        switch (command) {
            case 'shield':
                var createSmilieButton = $('#pcgf-smiliecreator-create');
                $.sceditor.command.set(command, {
                    exec: function() {
                        this.insert('[shield]Text[/shield]');
                    },
                    txtExec: function() {
                        createSmilieButton.trigger('click');
                    },
                    tooltip: tooltip == '' ? command : tooltip
                });
                $.sceditor.plugins.bbcode.bbcode.set('shield', {
                    tags: {
                        "shield": null
                    },
                    isInline: false,
                    skipLastLineBreak: true,
                    format: function(element, content) {
                        if (element.attr('settings') != undefined) {
                            return "[shield=" + element.attr('settings') + "]" + content.substr(1, content.length - 2) + "[/shield]";
                        }
                        return "[shield]" + content.substr(1, content.length - 2) + "[/shield]";
                    },
                    html: function(token, attrs, content) {
                        if (attrs['defaultattr'] != undefined) {
                            return "<shield settings='" + attrs['defaultattr'] + "'>[" + content + "]</shield>";
                        }
                        return "<shield>[" + content + "]</shield>";
                    },
                    quoteType: $.sceditor.BBCodeParser.QuoteType.never
                });
                break;
            case 'speechbubble':
                $.sceditor.plugins.bbcode.bbcode.set('speechbubble', {
                    tags: {
                        "speechbubble": null
                    },
                    isInline: false,
                    skipLastLineBreak: true,
                    format: function(element, content) {
                        if (element.attr('settings') != undefined) {
                            return "[speechbubble=" + element.attr('settings') + "]" + content.substr(1, content.length - 2) + "[/speechbubble]";
                        }
                        return "[speechbubble]" + content.substr(1, content.length - 2) + "[/speechbubble]";
                    },
                    html: function(token, attrs, content) {
                        if (attrs['defaultattr'] != undefined) {
                            return "<speechbubble settings='" + attrs['defaultattr'] + "'>(" + content + ")</speechbubble>";
                        }
                        return "<speechbubble>(" + content + ")</speechbubble>";
                    },
                    quoteType: $.sceditor.BBCodeParser.QuoteType.never
                });
                break;
            case 'spoiler':
                $.sceditor.command.set(command, {
                    exec: function() {
                        this.insert('[spoiler]Text[/spoiler]');
                    },
                    txtExec: ['[spoiler]', '[/spoiler]'],
                    tooltip: tooltip == '' ? command : tooltip
                });
                $.sceditor.plugins.bbcode.bbcode.set('spoiler', {
                    tags: {
                        "spoiler": null
                    },
                    isInline: false,
                    skipLastLineBreak: true,
                    format: function(element, content) {
                        return "[spoiler]" + content.replace("[spoiler]", "").replace("[/spoiler]", "") + "[/spoiler]";
                    },
                    html: function(token, attrs, content) {
                        return "<spoiler>[spoiler]" + content + "[/spoiler]</spoiler>";
                    },
                    quoteType: $.sceditor.BBCodeParser.QuoteType.never
                });
            case 'shield=':
            case 'speechbubble=':
                break;
            default:
                $.sceditor.command.set(command, {
                    exec: function() {
                        this.insert(insertion);
                    },
                    txtExec: [insertion],
                    tooltip: tooltip == '' ? command : tooltip
                });
                $.sceditor.plugins.bbcode.bbcode.set(command, {
                    skipLastLineBreak: true,
                    format: format,
                    html: template,
                    quoteType: $.sceditor.BBCodeParser.QuoteType.auto
                });
                break;
        }
    }
</script>
<!-- INCLUDEJS @cosmo_sceditor/js/sce.js -->
<!-- ENDIF -->